<%- include('../header') %>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit SubCatogary form</h4>
                            <p class="card-description"> Edit Subcategory form layout </p>
                            <form class="forms-sample" method="post" action="/subcategory/updatesubcategory">
                                <input type="hidden" name="editid" value="<%= single._id %>" />
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Category Name</label>
                                    <select name="category" class="form-select">
                                        <option value="">-----select-option------</option>
                                        <% category.map((cat)=> { %>
                                            <% if (cat.category==single.categoryid.category) { %>
                                                <option selected value="<%= cat._id %>">
                                                    <%= cat.category %>
                                                </option>
                                            <% } else { %>
                                                    <option value="<%= cat._id %>">
                                                        <%= cat.category %>
                                                    </option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">SubCategory Name</label>
                                    <input type="text" name="subcategory" class="form-control"
                                        id="exampleInputUsername1" value="<%= single.subcategory %>" placeholder="Add category">
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../footer') %>