<%- include('../header') %>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Extra SubCatogary form</h4>
                            <p class="card-description"> Add ExtraSubcategory form layout </p>
                            <form class="forms-sample" method="post" action="/exsubcategory/update">
                                <input type="hidden" value="<%= exsubcategory.id %>" name="editid">
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Category Name</label>
                                    <select name="category" class="form-select">
                                        <option value="">-----Select Option----</option>
                                        <% category.map ((cat)=>{ %>
                                            <% if (cat.category==exsubcategory.categoryid.category) { %>
                                              <option selected class="text-dark" value="<%= cat._id %>">
                                                  <%= cat.category %>
                                              </option>
                                          <% } else { %>
                                                  <option value="<%= cat._id %>">
                                                      <%= cat.category %>
                                                  </option>
                                          <% } %>
                                          <%  }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">SubCategory Name</label>
                                    <select name="subcategory" class="form-select">
                                        <option value="">-----Select Subcategory Option------</option>
                                        <% subcategory.map((subcat)=>{ %>
                                            <option class="text-dark" value="<%= subcat._id %>">
                                                <%= subcat.subcategory %>
                                            </option>
                                        <%  }) %>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">SubCategory Name</label>
                                    <input type="text" name="exsubcategory" class="form-control"
                                        id="exampleInputUsername1" value="<%= exsubcategory.exsubcategory %>"
                                        placeholder="Add category">
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<%- include('../footer') %>