<%- include('../header') %>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Extra SubCatogery Table</h4>
                            <p class="card-description"> View All <code>Extra SubCategories</code>
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> Id </th>
                                            <th> Category Type </th>
                                            <th> SubCategory </th>
                                            <th> ExSubCategory </th>
                                            <th> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% exsubcategory.map((exsub,i)=>{ %>
                                            <tr>
                                                <th scope="row">
                                                    <%= ++i %>
                                                </th>
                                                <td class="text-primary">
                                                    <%= exsub?.categoryid?.category %>
                                                </td>
                                                <td class="text-info">
                                                    <%= exsub?.subcategoryid?.subcategory %>
                                                </td>
                                                <td class="text-danger">
                                                    <%= exsub?.exsubcategory %>
                                                </td>
                                                <td>
                                                    <a href="/exsubcategory/deleteexsubcategory?id=<%=exsub.id%>"
                                                        class="btn btn-danger py-2">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                    <a href="/exsubcategory/editexsubcategory?id=<%=exsub.id%>"
                                                        class="btn btn-primary py-1 ms-2 "
                                                        style="font-size: 22px !important;">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/exsubcategory/changestatus?id=<%= exsub.id %>&status=<%= exsub.status %>" 
                                                        class="<% if(exsub.status == `active`) { %> btn btn-info py-2 px-3 <% } else { %> btn btn-warning py-2 px-3 <% } %>">
                                                        <%= exsub.status %>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../footer') %>